/* custom.css */
.custom-navbar {
    background-color: rgba(128, 0, 128, 0.8); /* Cor roxa com transparência */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Borda sutil */
}

    .custom-navbar .navbar-brand,
    .custom-navbar .nav-link {
        color: white !important; /* Texto branco */
        transition: color 0.3s; /* Transição suave para efeitos */
    }

        .custom-navbar .nav-link:hover,
        .custom-navbar .navbar-brand:hover {
            color: #dcdcdc !important; /* Efeito hover para links e logo */
        }

    .custom-navbar .navbar-toggler {
        border-color: rgba(255, 255, 255, 0.1); /* Cor da borda do botão de toggler */
    }

    .custom-navbar .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
