@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- site metas -->
    <title>Memorial Digital Coletivo</title>
    <meta name="keywords" content="memorial, digital, coletivo, memória, história">
    <meta name="description" content="Um espaço digital para preservar e compartilhar memórias e histórias de indivíduos e comunidades.">
    <meta name="author" content="Seu Nome ou Empresa">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/memorial/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/memorial/css/style.css">
    <!-- Responsive -->
    <link rel="stylesheet" href="~/memorial/css/responsive.css">
    <script src="~/memorial/js/jquery.min.js"></script>
    <!-- favicon -->
    <link rel="icon" href="~/memorial/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/memorial/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout home_page">
    <!-- loader -->
    <div class="loader_bg">
        <div class="loader"><img src="~/memorial/images/loading.gif" alt="Carregando" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="~/"><img src="~/img/logo.png" style="width: 30%;" alt="Logo do Memorial Digital Coletivo"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu">
                                    <ul class="menu-area-main">
                                        <li class="active"> <a href="~/">Início</a> </li>
                                        <li> <a href="#sobre-nos">Sobre</a> </li>
                                        <li><a href="#nosso-sistema">Nosso Sistema</a></li>
                                        <li></li>
                                        <li class="mean-last button3"> <a href="/Store"><img src="~/memorial/images/top-icon.png" alt="Entrar no sistema" /> Entrar no sistema</a> </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->
    </header>
    <!-- end header -->
    <section class="slider_section">
        <div id="myCarousel" class="carousel slide banner-main" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="first-slide" src="~/memorial/images/banner.jpg" alt="Memorial Digital Coletivo">
                    <div class="container">
                        <div class="carousel-caption relative">
                            <h1>Preserve Memórias<br>Para Gerações Futuras</h1>
                            <p>Nosso memorial digital coletivo é um espaço onde histórias e lembranças são reunidas e preservadas.<br> Participe e compartilhe suas memórias com o mundo.</p>
                            <div class="button_section"> <a class="main_bt" href="/Store">Entrar no sistema</a> </div>
                            <ul class="locat_icon">
                                <li> <a href="#"><img src="~/memorial/icon/facebook.png" alt="Facebook"></a></li>
                                <li> <a href="#"><img src="~/memorial/icon/twitter.png" alt="Twitter"></a></li>
                                <li> <a href="#"><img src="~/memorial/icon/linkedin.png" alt="LinkedIn"></a></li>
                                <li> <a href="#"><img src="~/memorial/icon/instagram.png" alt="Instagram"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Adicione mais slides aqui conforme necessário -->
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
        </div>
    </section>
    <!-- About -->
    <div class="about" id="sobre-nos">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="aboutheading">
                        <h2>Sobre <strong class="black">Nós</strong></h2>
                        <span>Preservamos as memórias e histórias de indivíduos e comunidades em um espaço digital seguro e acessível. Junte-se a nós para celebrar e lembrar.</span>
                    </div>
                </div>
            </div>
            <div class="row border">
                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
                    <div class="about-box">
                        <p>Oferecemos um espaço dedicado para a recordação, aprendizado e inspiração por meio de memórias digitais. Nossos memoriais são mais do que simples tributos; são homenagens eternas às vidas e histórias que influenciaram profundamente nosso mundo. Ao criar esses memoriais, buscamos garantir que essas memórias e legados continuem vivos para sempre, permitindo que a essência das experiências e das pessoas que nos marcaram transcenda o tempo. Com isso, oferecemos uma forma de manter viva a conexão com o passado e proporcionar uma fonte contínua de reflexão e inspiração para as futuras gerações.</p>
                        
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                    <div class="about-box">
                        <figure><img src="~/memorial/images/banner-removebg-preview.png" alt="Sobre nós"></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end About -->
    <!-- Library -->
    <div class="Library" id="nosso-sistema">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="titlepage">
                        <h2>Explore o <strong class="black">Nosso Sistema</strong></h2>
                        <span>Descubra nossa coleção de memórias compartilhadas. Cada item é uma história única de pessoas e eventos que moldaram o nosso mundo.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="Library-box">
                            <figure><img src="~/memorial/images/Library-.png" alt="Nosso Sistema"></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    
                </div>
            </div>
        </div>
    </div>
    <!-- end Library -->
    <!-- Books -->
    <div class="Books">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="titlepage">
                        <h2>Memórias <strong class="black">Compartilhadas</strong></h2>
                        <span>Explore as memórias e homenagens que foram compartilhadas em nosso memorial digital. Cada relato é uma peça preciosa do nosso legado coletivo.</span>
                    </div>
                </div>
            </div>
            <div class="row box">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                    <div class="book-box">
                        <figure></figure>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="book-box">
                        <figure><img src="~/memorial/images/book-2.jpeg" alt="Memória 2"></figure>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                    <div class="book-box">
                        <figure></figure>
                    </div>
                </div>
                <div class="col-md-6 offset-md-3">
                    <p>"Uma lembrança especial de um ente querido que nos deixou, mas que sempre estará em nossos corações."</p>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Books -->
    
    <!-- footer -->
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row pdn-top-30">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <div class="Follow">
                            <h3>Siga-nos</h3>
                        </div>
                        <ul class="location_icon">
                            <li> <a href="#"><img src="~/memorial/icon/facebook.png" alt="Facebook"></a></li>
                            <li> <a href="#"><img src="~/memorial/icon/twitter.png" alt="Twitter"></a></li>
                            <li> <a href="#"><img src="~/memorial/icon/linkedin.png" alt="LinkedIn"></a></li>
                            <li> <a href="#"><img src="~/memorial/icon/instagram.png" alt="Instagram"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p>&copy; 2024 Todos os direitos reservados por <a href="https://lavi.ic.ufmt.br/davi/">Dados além da Vida</a></p>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files -->
    <script src="~/memorial/js/jquery.min.js"></script>
    <script src="~/memorial/js/popper.min.js"></script>
    <script src="~/memorial/js/bootstrap.bundle.min.js"></script>
    <script src="~/memorial/js/jquery-3.0.0.min.js"></script>
    <script src="~/memorial/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="~/memorial/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/memorial/js/custom.js"></script>
</body>
</html>

